*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
.error{
    color:red;
    font-size: 0.8rem;
}
.hoverLink{
    text-decoration: 'none';
    color:black;
}
.hoverLink:hover {
color: #0AD0B2
  }